$main-color: #212121
$secondary-color: #00FF95
$disabled-color: #BDBDBD
$text-color: #2B2D3A
$medium-text-color: #757575
$background-color: #F6F6F6
$background-light-color: rgba(255, 255, 255, 0.9)
$border-color: #F0F0F0
$light-color: #ffffff