*
  box-sizing: border-box

html 
  scroll-behavior: smooth
  
body 
  font-family: 'Helvetica', sans-serif
  font-size: 14px
  line-height: 1.4

img
  max-width: 100%

a 
  text-decoration: none
  outline: none
  cursor: pointer
  color: inherit

.title 
  margin: 0

.container 
  max-width: 1250px
  margin: auto

.list 
  padding: 0
  margin: 0
  list-style: none

.section 
  padding-top: 120px

.input
  outline: none
  border: none

.progress 
  outline: none
  border: none
  -webkit-appearance: none
  overflow: hidden

::-webkit-input-placeholder
  color: $medium-text-color
::-moz-placeholder
  color: $medium-text-color
// ::-webkit-input-placeholder /* WebKit browsers */
// :-moz-placeholder /* Mozilla Firefox 4 to 18 */
// ::-moz-placeholder /* Mozilla Firefox 19+ */
// :-ms-input-placeholder /* Internet Explorer 10+ */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
  // display: none; <- Crashes Chrome on hover
  -webkit-appearance: none
  appearance: none
  margin: 0

input 
  -moz-appearance: textfield

.progress::-moz-progress-bar 
  background-color: $main-color

// svg path
//   fill: inherit


.button 
  outline: none
  cursor: pointer
  background: transparent
  border: none

.hide 
  display: none

#hot 
  color: $hot-color
  &:hover 
    color: $main-color

.facebook, .twitter, .pinterest, .instagram 
  fill: $medium-text-color

@media (max-width: 1280px)
  .container 
    max-width: 1050px

@media (max-width: 1080px)
  .container 
    width: 90%
    max-width: 1050px

@media (max-width: 420px)
  .container 
    width: 95%


// HOVER ЭФФЕКТЫ 
@media (min-width: 992px)
  .nav
    &-list
      &__item 
        &:hover 
          color: $main-color

  .product
    &-nav
      &-list
        &__item 
          &:hover 
            color: $medium-text-color

  .footer-list__item, .footer-support__call
    &:hover 
      color: $light-color

  .facebook, .twitter, .pinterest, .instagram 
    &:hover
      fill: $light-color
 
