*
  box-sizing: border-box

html 
  scroll-behavior: smooth
  
body 
  font-family: 'Helvetica', sans-serif

img
  max-width: 100%

a 
  text-decoration: none
  outline: none
  cursor: pointer
  color: inherit

.title 
  margin: 0

.container 
  width: 90%
  max-width: 1128px
  margin: auto

.list 
  padding: 0
  margin: 0
  list-style: none

.section 
  padding-top: 120px

.input
  outline: none
  border: none

::-webkit-input-placeholder
  color: $medium-text-color
::-moz-placeholder
  color: $medium-text-color
// ::-webkit-input-placeholder /* WebKit browsers */
// :-moz-placeholder /* Mozilla Firefox 4 to 18 */
// ::-moz-placeholder /* Mozilla Firefox 19+ */
// :-ms-input-placeholder /* Internet Explorer 10+ */

// svg path
//   fill: inherit


.button 
  outline: none
  cursor: pointer
  background: transparent
  border: none

.hide 
  display: none

#hot 
  color: $hot-color

.facebook, .twitter, .pinterest, .instagram 
  fill: $medium-text-color


// HOVER ЭФФЕКТЫ 
@media (min-width: 992px)
  // HOVER эффекты блока HEADER 

.facebook, .twitter, .pinterest, .instagram 
  &:hover
    fill: $light-color
 
