.category 
  display: flex
  align-items: center
  justify-content: center
  height: 50px
  padding-left: 23px
  padding-right: 10px
  background-color: $background-color
  border-top-left-radius: 30px
  border-bottom-left-radius: 30px
  &__button
    display: flex
    span 
      padding-right: 10px