.certified
  padding: 45px 0
  &__title 
    font-size: 28px
    line-height: 40px
    margin-bottom: 50px
    +Poppins-Medium
  &-list 
    display: flex
    &__item 
      margin-right: 33px
      font-size: 18px
      line-height: 27px
      +Poppins
      color: $medium-text-color
      max-width: 160px
      &:last-child 
        max-width: 180px

@media (max-width: 1280px)
  .certified 
    &-list 
      &__item 
        margin-right: 13px

@media (max-width: 1080px)
  .certified 
    &-list 
      &__item 
        max-width: 200px
        margin-right: 13px