.description 

  &-list 
    &__item 
      padding: 24px 0
      padding-right: 24px
      border-top: 1px solid $input-border-color 
      border-bottom: 1px solid $input-border-color 
      &_view 
        display: flex
        justify-content: space-between
        align-items: center
        cursor: pointer
        z-index: 10

  &-content
    display: none
    &__item 
      padding-top: 30px
      display: flex
      &:last-child > .description__text 
        border-bottom: none
      &:first-child 
        padding-top: 49px
    .active 
      display: block
      animation: fadeInDown 0.5s ease both

  &__title 
    font-size: 28px
    +Poppins-Medium

  &__subtitle 
    width: 264px 
    margin-right: 26px
    font-size: 18px
    color: $main-color
    +Poppins-Medium

  &__text 
    margin: 0
    font-size: 18px
    width: 552px
    padding-bottom: 20px
    border-bottom: 1px solid $input-border-color 
    color: $medium-text-color
    +Poppins

  &_right 
    display: flex

  &__stars
    margin-right: 40px 

  &__star 
    margin-right: 5px
    fill: $main-color 
    &:nth-child(4), &:last-child 
      fill: $disabled-star-color

  &__review
    width: 100% 
    padding: 15px
    border-radius: 4px
    background-color: $secondary-color
    margin-top: 10px


  &-histogram 
    &__title 
      margin-bottom: 8px
      font-size: 18px
      color: $main-color
      +Poppins-Medium

    &__subtitle 
      width: 46px
      margin-right: 6px

    &__progress 
      position: relative
      width: 411px 
      height: 16px 
      background-color: $background-progress-color
      margin-right: 15px
      // &:after 
      //   content: "" 
      //   position: absolute
      //   top: 0
      //   left: 0
      //   width: 411px 
      //   height: 16px 
      //   background-color: $background-progress-color
        
    &__item 
      display: flex
      align-items: center
      margin-bottom: 14px
      font-size: 14px
      &:first-child 
        color: $main-color
        // .description-histogram__progress:after
        //   background-color: $main-color

.active 
  display: block
  animation: fadeInDown 0.5s ease both

@media (max-width: 1280px) 
  .description 
    &__subtitle 
      width: 200px 

    &-histogram 
      &__progress 
        width: 360px 
        &:after 
          width: 360px

@media (max-width: 900px) 
  .description
    &-histogram 
      &__progress 
        width: 300px 
        &:after 
          width: 300px

@media (max-width: 800px) 
  .description
    &-list 
      &__item 
        padding-right: 0
        &:last-child 
          .description-content__item
            &:last-child 
              .description__subtitle 
                display: none

    &__title 
      font-size: 18px

    &__subtitle 
      margin-right: 0
      margin-bottom: 15px

    &__review 
      margin-top: 0

    &-histogram 
      margin-top: 28px

    &__text 
      width: 100%
      font-size: 14px

    &-content 
      &__item 
        flex-direction: column

@media (max-width: 550px) 
  .description
    &-histogram 

      &__title 
        margin-bottom: 10px

      &__progress 
        width: 167px 
        margin-right: 10px
        &:after 
          width: 167px
          
    &__stars 
      display: none
