.nav 
  color: $medium-text-color
  background-color: $background-light-color
  border-bottom: 1px solid $border-color
  padding: 13px
  &-wrap 
    display: flex
    align-items: center
    justify-content: space-between
  &-sidebar 
    &__button
      display: flex
      color: $medium-text-color
      span 
        margin-right: 6px
  &-list 
    display: flex
    &__item 
      margin-right: 30px 
      color: $medium-text-color
      &:last-child 
        margin-right: 0
  &-country 
    display: flex
    align-items: center
    justify-content: space-between
    &__icon 
      border-radius: 50%
      overflow: hidden
    &__icon , &__language, &__currency
      margin-right: 8px

@media (max-width: 1230px)
  .nav
    &-list
      display: none     

@media (max-width: 1050px)
  .nav
    display: none