.product 
  width: 75%
  padding-bottom: 83px
  &-nav-list 
    display: flex
    padding: 20px 0
    &__item
      line-height: 20px
      &:not(:first-child)
        &:before 
          content: " / "
          white-space: pre
      &:last-child 
        color: $medium-text-color

  &-main 
    display: flex
    flex-direction: column
  &-wrap
    display: flex

  &-image 
    width: 60%
    position: relative
    &__scale
      fill: $light-color
      &-button 
        position: absolute
        bottom: 20px
        right: 20px
        width: 48px 
        height: 48px 
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        background-color: $disabled-star-color
  &-info 
    width: 40%
  &__title 
    font-size: 34px
    line-height: 42px
    margin-bottom: 30px
    +Poppins-Medium
  &__by 
    color: $medium-text-color
    a 
      color: $main-color
  &-rate 
    margin-bottom: 40px
    display: flex
    align-items: center
    line-height: 40px
    &__number 
      margin-left: 5px
      color: $link-color
    &__star 
      margin-right: 5px
      fill: $main-color 
      &:nth-child(4), &:nth-child(5) 
        fill: $disabled-star-color
  &__price 
    margin-bottom: 31px
    &_new 
      font-size: 28px
      line-height: 40px
      margin-right: 20px
      +Poppins-Medium
    &_old 
      text-decoration-line: line-through
      color: $medium-text-color
  &__add 
    display: none

  &-grade 
    color: $medium-text-color
    margin-bottom: 10px
    &__status 
      margin: 0 5px
    &__description 
      color: $link-color
  &-restore 
    width: 127px 
    height: 62px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    border: 2px solid $input-border-color
    border-radius: 4px
    color: $medium-text-color
    &__title
      font-size: 18px
      line-height: 27px
      +Poppins-Medium
    span 
      display: block

@media (max-width: 1280px) 
  .product
    width: 70%
    &-image
      width: 50% 
      margin-right: 40px
    &-info 
      width: 50%

@media (max-width: 1080px)
  .product
    width: 100%
    &-certified 
      padding-top: 555px

@media (max-width: 900px)
  .product 
    &-certified 
      padding-top: 800px
    &__add 
      display: block



  
