section.certified
  h2.title.certified__title Certified ReStored means...
  ul.list.certified-list 
    li.certified-list__item 
      svg.certified__check-icon(width="28" height="28")
        use(xlink:href="#check")
      p.certified__text Thoroughly tested to work like new
    li.certified-list__item 
      svg.certified__check-icon(width="28" height="28")
        use(xlink:href="#check")
      p.certified__text Fully reset to verified factory settings
    li.certified-list__item 
      svg.certified__check-icon(width="28" height="28")
        use(xlink:href="#check")
      p.certified__text The same 1-year warranty as a brand-new iPad
    li.certified-list__item 
      svg.certified__check-icon(width="28" height="28")
        use(xlink:href="#check")
      p.certified__text A new box with all original accessories & manuals