ul.list.description-list
  li.description-list__item
    .description-list__item_view
      h2.title.description__title Product information
      svg.description_open(width="30" height="28")
        use(xlink:href="#plus")
    .description-content.active
      .description-content__item
        h3.title.description__subtitle Overview
        p.description__text — 11-inch Retina display with ProMotion, True Tone, and— wide color — A10X Fusion chip — Touch ID fingerprint sensor — 12MP back camera, 7MP FaceTime HD front camera — Four speaker audio — 802.11ac Wi-Fi — Up to 10 hours of battery life — Lightning connector for charging and accessories — Group FaceTime, Screen Time, and more
      .description-content__item
        h3.title.description__subtitle Certified ReStored <br> condition
        p.description__text Certified ReStored products are guaranteed to function just like new. The Store's experts perform full diagnostic tests, thoroughly clean each product, and use manufacturer  replacement parts for all major electronics. ReStored products have little to no signs of wear, and no visible imperfections from 12 inches away. All products arrive with a fully functional battery and accessories. Learn more 
      .description-content__item
        h3.title.description__subtitle Warranty & support
        p.description__text The Store’s guaranteed 1-year warranty comes free with every purchase. If your item stops working as expected within 12 months of the purchase date, we’ll happily fix, replace, or refund your item. Learn more 
  li.description-list__item
    .description-list__item_view
      h2.title.description__title Technical specifications
      svg.description_open(width="30" height="28")
        use(xlink:href="#plus")
    .product-accordeon__content 
  li.description-list__item
    .description-list__item_view
      h2.title.description__title Product history
      svg.description_open(width="30" height="28")
        use(xlink:href="#plus")
  li.description-list__item
    .description-list__item_view
      h2.title.description__title Customer review (1)
      .description_right
        .description__stars 
          svg.description__star(width="24" height="24")
            use(xlink:href="#star-mini")
          svg.description__star(width="24" height="24")
            use(xlink:href="#star-mini")
          svg.description__star(width="24" height="24")
            use(xlink:href="#star-mini")
          svg.description__star(width="24" height="24")
            use(xlink:href="#star-mini")
          svg.description__star(width="24" height="24")
            use(xlink:href="#star-mini")
        svg.description_open(width="30" height="28")
          use(xlink:href="#plus")
    .description-content
      .description-content__item
        .description__subtitle 
          h3.title.description__subtitle Review this product
          button.button.description__review Write a review
        .description__text.description-histogram
          h4.title.description-histogram__title 3 out of 5 stars
          ul.list.description-histogram-list
            li.description-histogram__item
              .description-histogram__subtitle 5 star
              progress.progress.description-histogram__progress(max="100" value="100")
              .description-histogram__percent 100%
            li.description-histogram__item
              .description-histogram__subtitle 4 star
              progress.progress.description-histogram__progress(max="100" value="0")
              .description-histogram__percent 0%
            li.description-histogram__item
              .description-histogram__subtitle 3 star
              progress.progress.description-histogram__progress(max="100" value="0")
              .description-histogram__percent 0%
            li.description-histogram__item
              .description-histogram__subtitle 2 star
              progress.progress.description-histogram__progress(max="100" value="0")
              .description-histogram__percent 0%
            li.description-histogram__item
              .description-histogram__subtitle 1 star
              progress.progress.description-histogram__progress(max="100" value="0")
              .description-histogram__percent 0%
      .description-content__item
        h3.title.description__subtitle Showing 1-1 of 1 review
        .description__text 
          include feedback