ul.list.description-list
  li.description-list__item
    .description-list__item_view
      h2.title.description__title Product information
      svg.description_open(width="30" height="28")
        use(xlink:href="#plus")
    .description-content
      .description-content__item
        h3.title.description__subtitle Overview
        ul.list.description__text.description-overview 
          li.description-overview__item — 11-inch Retina display with ProMotion, True Tone, and
          li.description-overview__item — wide color
          li.description-overview__item — A10X Fusion chip
          li.description-overview__item — Touch ID fingerprint sensor
          li.description-overview__item — 12MP back camera, 7MP FaceTime HD front camera
          li.description-overview__item — Four speaker audio
          li.description-overview__item — 802.11ac Wi-Fi
          li.description-overview__item — Up to 10 hours of battery life
          li.description-overview__item — Lightning connector for charging and accessories
          li.description-overview__item — Group FaceTime, Screen Time, and more
      .description-content__item
        h3.title.description__subtitle Certified ReStored <br> condition
        p.description__text Certified ReStored products are guaranteed to function just like new. The Store's experts perform full diagnostic tests, thoroughly clean each product, and use manufacturer  replacement parts for all major electronics. ReStored products have little to no signs of wear, and no visible imperfections from 12 inches away. All products arrive with a fully functional battery and accessories. Learn more 
      .description-content__item
        h3.title.description__subtitle Warranty & support
        p.description__text The Store’s guaranteed 1-year warranty comes free with every purchase. If your item stops working as expected within 12 months of the purchase date, we’ll happily fix, replace, or refund your item. Learn more 
  li.description-list__item
    .description-list__item_view
      h2.title.description__title Technical specifications
      svg.description_open(width="30" height="28")
        use(xlink:href="#plus")
    .description-content
      .description-content__item Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  li.description-list__item
    .description-list__item_view
      h2.title.description__title Product history
      svg.description_open(width="30" height="28")
        use(xlink:href="#plus")
    .description-content
      .description-content__item Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  li.description-list__item
    .description-list__item_view
      h2.title.description__title Customer review (1)
      .description_right
        .description__stars 
          svg.description__star(width="24" height="24")
            use(xlink:href="#star-mini")
          svg.description__star(width="24" height="24")
            use(xlink:href="#star-mini")
          svg.description__star(width="24" height="24")
            use(xlink:href="#star-mini")
          svg.description__star(width="24" height="24")
            use(xlink:href="#star-mini")
          svg.description__star(width="24" height="24")
            use(xlink:href="#star-mini")
        svg.description_open(width="30" height="28")
          use(xlink:href="#minus")
    .description-content.active
      .description-content__item
        .description__subtitle 
          h3.title.description__subtitle Review this product
          button.button.description__review Write a review
        .description__text.description-histogram
          h4.title.description-histogram__title 3 out of 5 stars
          ul.list.description-histogram-list
            li.description-histogram__item
              .description-histogram__subtitle 5 star
              progress.progress.description-histogram__progress(max="100" value="100")
              .description-histogram__percent 100%
            li.description-histogram__item
              .description-histogram__subtitle 4 star
              progress.progress.description-histogram__progress(max="100" value="0")
              .description-histogram__percent 0%
            li.description-histogram__item
              .description-histogram__subtitle 3 star
              progress.progress.description-histogram__progress(max="100" value="0")
              .description-histogram__percent 0%
            li.description-histogram__item
              .description-histogram__subtitle 2 star
              progress.progress.description-histogram__progress(max="100" value="0")
              .description-histogram__percent 0%
            li.description-histogram__item
              .description-histogram__subtitle 1 star
              progress.progress.description-histogram__progress(max="100" value="0")
              .description-histogram__percent 0%
      .description-content__item
        h3.title.description__subtitle Showing 1-1 of 1 review
        .description__text 
          include feedback