.feedback 
  .feedback-user A. Jordan 
  .feedback-rate 
    .feedback__stars 
      svg.feedback__star(width="14" height="14")
        use(xlink:href="#star-mini")
      svg.feedback__star(width="14" height="14")
        use(xlink:href="#star-mini")
      svg.feedback__star(width="14" height="14")
        use(xlink:href="#star-mini")
      svg.feedback__star(width="14" height="14")
        use(xlink:href="#star-mini")
      svg.feedback__star(width="14" height="14")
        use(xlink:href="#star-mini")
    h4.title.feedback__title The best ipad yet
  span.feedback__date 9 October 2019
  p.feedback__text Like all ipads it is well over priced. this replaced a very old ipad which stood the test of time. I am not an Apple person preferring MS and computers I can change components. All I can say is I am very impressed with this pad, it is faster has good storage. I love the facial recognition. Love the speed, love the slimness. The pen is worth buying I use it a lot more than I thought I would. 
