footer.footer 
  .footer-wrap
    .footer-offer_color
      .footer-container
        .footer-offer 
          .footer-rate
            h3.title.footer-offer__title What others are saying
            .footer-rate__stars
              svg.footer-rate__star(width="42" height="40")
                use(xlink:href="#star")
              svg.footer-rate__star(width="42" height="40")
                use(xlink:href="#star")
              svg.footer-rate__star(width="42" height="40")
                use(xlink:href="#star")
              svg.footer-rate__star(width="42" height="40")
                use(xlink:href="#star")
              svg.footer-rate__star(width="42" height="40")
                use(xlink:href="#star")
            .footer-rate__text “Excellent”
            .footer-rate__logo 
              img(src="img/footer/rate-logo.png")
          .footer-discount
            h3.title.footer-offer__title Save 15% today*
            p.footer-discount__text *Offer valid on full-price items, U.S. only. Must be new email subscriber. Enter your email address to receive a promo code in your inbox.
            form.footer-form 
              input.footer-form__input(type="text" placeholder="Enter your email address")
              button.button.footer-form__button(type="submit") Sign up
    .footer-menu_color
      .footer-container
        .footer-menu
          nav.footer-history
          nav.footer-nav
            .footer-shop 
              h4.title.footer-nav__title Shop Online
              ul.list.footer-list 
                li.footer-list__item
                  a(href="#" target="_blank") Brands
                li.footer-list__item
                  a(href="#" target="_blank") Hot Deals
                li.footer-list__item
                  a(href="#" target="_blank") Cellphones
                li.footer-list__item
                  a(href="#" target="_blank") Wearables
                li.footer-list__item
                  a(href="#" target="_blank") Laptops
                li.footer-list__item
                  a(href="#" target="_blank") All Departments
            .footer-customer
              h4.title.footer-nav__title Customer Service
              ul.list.footer-list 
                li.footer-list__item
                  a(href="#" target="_blank") Contact Info
                li.footer-list__item
                  a(href="#" target="_blank") Shipping Rates & Policies
                li.footer-list__item
                  a(href="#" target="_blank") Returns & Refunds
            .footer-manage
              h4.title.footer-nav__title Manage Your Account
              ul.list.footer-list 
                li.footer-list__item
                  a(href="#" target="_blank") Your Orders
                li.footer-list__item
                  a(href="#" target="_blank") Your Account
                li.footer-list__item
                  a(href="#" target="_blank") Browsing History
            .footer-about
              h4.title.footer-nav__title Get to Know Us
              ul.list.footer-list 
                li.footer-list__item
                  a(href="#" target="_blank") About Us
                li.footer-list__item
                  a(href="#" target="_blank") Why Certified ReStored?
                li.footer-list__item
                  a(href="#" target="_blank") FAQ
                li.footer-list__item
                  a(href="#" target="_blank") Contact us
            .footer-contact
              h4.title.footer-nav__title Connect with The Store
              ul.list.footer-social
                li.footer-social__item
                  a(href="https://www.facebook.com/thestoreshop" target="_blank")
                    svg.facebook(width="24" height="24")
                      use(xlink:href="#facebook")
                li.footer-social__item
                  a(href="https://twitter.com/thestoreshop" target="_blank")
                    svg.twitter(width="24" height="24")
                      use(xlink:href="#twitter")
                li.footer-social__item
                  a(href="https://www.pinterest.ru/" target="_blank")
                    svg.pinterest(width="24" height="24")
                      use(xlink:href="#pinterest")
                li.footer-social__item
                  a(href="https://www.instagram.com/shopthestore/" target="_blank")
                    svg.instagram(width="24" height="24")
                      use(xlink:href="#instagram")
            .footer-support 
              h4.title.footer-nav__title Customer Support
              a.footer-support__call(href="tel:1-844-427-8673") 1-844-42-78673
          .footer__info
            a(href="https://thestore.com/" target="_blank")
              svg.footer__logo(width="101" height="34")
                use(xlink:href="#logo")
            span.footer__copyright © 2020 The Store. All rights reserved. Terms of Use | Privacy Policy
            .footer-country
              svg.footer-country__icon(width="24" height="24")
                use(xlink:href="#usa")
              span.footer-country__name United States
              span.footer-country__language English
              span.footer-country__currency $ (USD)


