header.header 
  .header-wrap
    a(href="https://thestore.com/" target="_blank")
      svg.header__logo(width="148" height="48")
        use(xlink:href="#logo")
    .header-search
      .header__category.category
        button.button.category__button
          span All Categories
          svg.search(width="16" height="16")
            use(xlink:href="#arrow-down")
        ul.list.category-list.hide
          li.category-list__item
          li.category-list__item
          li.category-list__item
          li.category-list__item
      form.header__form.search
        input.input.search__input(type="text")
        button.button.search__button(type="submit")
          svg.header__search(width="28" height="28")
            use(xlink:href="#search")
    .header-icons
      .header-icons__like
        a(href="#" target="_blank")
          svg.header__like(width="28" height="28")
            use(xlink:href="#like")
      .header-icons__man
        a(href="#" target="_blank")
          svg.header__man(width="28" height="28")
            use(xlink:href="#man")
      .header-icons__cart
        a(href="#" target="_blank")
          svg.header__cart(width="28" height="28")
            use(xlink:href="#cart")