nav.nav
  .nav-wrap 
    .nav-sidebar
      button.button.nav-sidebar__button
        span All Products
        svg.search(width="16" height="16")
          use(xlink:href="#arrow-down")
    ul.list.nav-list
      li.nav-list__item
        a(href="#" target="_blank") Hot Deals
      li.nav-list__item
        a(href="#" target="_blank") Cell Phones
      li.nav-list__item
        a(href="#" target="_blank") Tablets
      li.nav-list__item
        a(href="#" target="_blank") Laptops & Computers
      li.nav-list__item
        a(href="#" target="_blank") Apple Corner
      li.nav-list__item
        a(href="#" target="_blank") Android Corner
      li.nav-list__item
        a(href="#" target="_blank") Wearables
      li.nav-list__item
        a(href="#" target="_blank") Audio
      li.nav-list__item
        a(href="#" target="_blank") TVs
      li.nav-list__item
        a(href="#" target="_blank") Drones
    //- button.header-burger.burger_alert
    //-   span.header-burger__line
    .nav-country
      svg.nav-country__icon(width="20" height="20")
        use(xlink:href="#usa")
      span.nav-country__language - English
      span.nav-country__currency - USD