section.policy 
  h3.title.policy__title The Store
  .policy-content 
    svg.policy-icon(width="48" height="48")
      use(xlink:href="#logo-gray")
    .policy__rate 100% positive feedback 
      .policy__orders (1,980 orders)
  ul.list.policy-list 
    li.policy-list__item 
      a(href="#") FAQ
    li.policy-list__item 
      a(href="#") Return policy
    li.policy-list__item 
      a(href="#") Privacy policy