.product 
  .container
    nav.product-nav
      a.product-nav__back(href="#") 
        svg(width="24" height="24")
          use(xlink:href="#arrow-back")
        span Back
      ul.list.product-nav-list 
        li.product-nav-list__item 
          a(href="#") Main Page 
        li.product-nav-list__item 
          a(href="#") Tablet 
        li.product-nav-list__item 
          a(href="#") Apple iPad Pro (11”) 32GB Space Gray
    .product-main 
      .product-wrap
        .product-image 
          img(src="img/product/ipad.jpg" srcset="img/product/ipad.jpg 1x, img/product/ipad@2x.jpg 2x" alt="ipad")
          button.button.product-image__scale-button
            svg.product-image__scale(width="28" height="28")
              use(xlink:href="#search")
        .product-info 
          h1.title.product__title Apple iPad Pro (11") 32GB Space Gray
          .product__by By 
            a(href="https://thestore.com/search/apple?search=apple&brand=Apple") Apple
          .product-rate
            svg.product-rate__star(width="16" height="16")
              use(xlink:href="#star-mini")
            svg.product-rate__star(width="16" height="16")
              use(xlink:href="#star-mini")
            svg.product-rate__star(width="16" height="16")
              use(xlink:href="#star-mini")
            svg.product-rate__star(width="16" height="16")
              use(xlink:href="#star-mini")
            svg.product-rate__star(width="16" height="16")
              use(xlink:href="#star-mini")
            span.product-rate__number 1 reviews
          .product__price
            span.product__price_new $300.00
            span.product__price_old $800.00USD
          .product__add 
            button.button.product__add-button
              span.product__add-amount $300.00 — Qty 1
              span.product__add-text Add to cart
          .product-grade 
            span Product grade: 
            span.product-grade__status ReStored 
            span.product-grade__description What is ReStored?
          .product-restore 
            .product-restore__title Restored
            .product-restore__price $899.99
      .product-certified 
        include certified
      .product-accordeon 
        include description
