section.protection
  h3.title.protection__title Buyer protection
  .protection-content 
    svg.protection-icon(width="48" height="47")
      use(xlink:href="#shield")
    ul.protection-list
      li.protection__item 1-year warranty
      li.protection__item Free 30-day returns
      li.protection__item Free shipping
      li.protection__item Certified quality 
  .protection-link 
    a(href="#") Read more