script(src="js/polyfill.min.js")
| 
| <!-- build:js js/main.min.js -->
script(src="js/jquery-3.4.1.min.js")
script(src="js/slick.min.js")
script(src="js/slider-settings.js")
script(src="js/buy-quantity.js")
script(src="js/description-accordeon.js")
| 
| <!-- endbuild -->